<bookstore>
  {%- for data in table_data %}
  <book category="{{ data['category'] }}">
    <title>{{ data["title"] }}</title>
    <author>{{ data["author"] }}</author>
    <year>{{ data["year"] }}</year>
    <price>{{ data["price"] }}</price>
  </book>
  {%- endfor %}
</bookstore>