<book category="{{ row_data['category'] }}">
  <title>{{ row_data["title"] }}</title>
  <author>{{ row_data["author"] }}</author>
  <year>{{ row_data["year"] }}</year>
  <price>{{ row_data["price"] }}</price>
</book>